/* step 1 */
nav {
  display: block;
  transition: all 0.1s linear;
  transform: translateY(-110px);
  background-color: aqua;
  width: 100%;
  z-index: 1;
}

/* step 3*/
#hamburger-menu {
  display: none;
}

/* step 2 */
#hamburger-menu:checked ~ nav {
  display: block;
  transform: translateY(0px);
}

.sr-only {
  display: none;
}

@media screen and (min-width: 767px) {
  .app-navigation label,
  .app-navigation .fas {
    display: none;
  }

  .app-navigation-drawer {
    /*show nav on load*/
    transform: translateY(0);
  }

  .app-navigation-drawer li {
    display: inline-block;
  }
}
